* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #90ffa1;
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px ;
    margin-top: 20px;
}
.brand {
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left:0px ;
    padding: auto;
}

.login {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;

}

.login li {
    display: inline-block;
    font-size: 15px;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    display: grid;
    grid-template-columns: 30% 70%;
}

.inf_main{
    background-color: orange;
}

.about {
    background-color: honeydew;
}

.footer {
    background-color: #90ffa1;
    display: grid;
    grid-template-columns: 85% 15%;
    height: 100px;
}

.social_media {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.foot_page {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: 12px; 
}
