* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}

.header {
    position: fixed;  
    display: flex;
    justify-self: flex-start;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
    min-width: 150px;
    height: 45px;
    background-color: #90ffa1;
}

.logo {
    margin-left: 10%;
    margin-right: auto;
}
.brand {
    margin-right: auto;
    margin-top: 7px;
}

.login {
    margin-right: auto;
}

.container {
    background: black;
    display: flex;
    justify-content: space-evenly;
    min-width: 150px;
    height: 300px;
    overflow: scroll;
}
.c1, .c2, .c3, .c4, .c4, .c5 {
    width: 10px;
    height: 50px;
    margin-top: 50px;
    grid-template-columns: 25% 25% 25% 25%;
}

 .img_inf1 {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 30px;
    position: relative;
    border-radius: 30%;
}

.img_inf2 {
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-right: 20px;
    position: relative;
    margin-left: 150px;
    border-radius: 30%;
}

.img_inf3 {
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-right: 20px;
    position: relative;
    margin-left: 300px;
    border-radius: 30%;
}


.img_inf4 {
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-right: 50px;
    position: relative;
    margin-left: 450px;
    border-radius: 30%;
}
/*.inf_main{
transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space:nowrap;
  margin: 0px 0px;
  padding-bottom: 10px;
}

.inf_main:hover .inf {
    opacity: 0.2;
}

.inf_main:hover .inf:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}


.inf {
    border-radius: 20px;
    overflow:unset;
    position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    }

.inf:hover ~ .inf {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);  
    }

.link1 {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    }

.link2 {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}
.link1 {
    
}

.inf1 {
    
}

.inf2 {

}

.inf3 {

}

.inf-details p {
    
}

.inf-text__details--tittle {
    color: white;
    margin: 5px 0px 0px 0px;
  }
  
  .inf-text__details--subtittle {
    color: white;
    font-size: .4rem;
    margin: 3px 0px;
  } */

.about_text {
    width: auto;
    height: auto;
    font-size: 1.6rem;
    padding: 5%;
}

.about {
    background-color: honeydew;
    
}

.footer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 85% 15% ;
    width: 100%;
    min-width: 150px;
    height: auto;
    background-color: #90ffa1;
}

.social_media {
    justify-self: flex-end;
    margin-top: 10%;
}

.foot_page {
    margin-left: 30%;
    justify-self:center ;
    text-align: center;
    font-size: 1rem;
}
