.foda-detail--title {
    display: flex;
    justify-content: center;
    width: 50px;
}

.information-table--container {
    width: 90%;
    min-width: 500px;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.main-tables--container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.info-title {
    font-size: 2.5rem;
}
.services-title, .menu-title {
    font-size: 2rem;
}
.plates {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.foda-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.desings-container--slider {
    justify-content: center;
}

.desing-card--logo{
    height: 34px;
}

footer {
    display: flex;
    justify-content: center;
}
