* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-flow: column;
    font-size: 16px;
}
.header {
    outline: 1px solid gold;
    height: 3rem;
}
.menu {
    display: flex;
}
.menu-item1 {
    list-style: none;
    flex: 1;
    background:palegreen;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}
.menu-item2 {
    list-style: none;
    flex: 1;
    background:  palevioletred;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}
.menu-item3 {
    list-style: none;
    flex: 1;
    background:  peru;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}
.menu-item4 {
    list-style: none;
    flex: 1;
    background:  royalblue;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}
.menu-item1:hover {
    flex: 8;
}
.menu-item2:hover {
    flex: 8;
}
.menu-item3:hover {
    flex: 8;
}
.menu-item4:hover {
    flex: 8;
}
.conteiner {
    display: flex;
    height: inherit;
}
.content {
    outline: 1px solid cyan;
    flex: 1;
}
.aside {
    outline: 1px solid magenta;
    flex: 0 0 25%;
}
.footer {
    outline: 1px solid salmon;
    height: 6rem;
    margin-top:auto;
}
