* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-flow: column;
    font-size: 16px;
}
.menu {
    display: flex;
}
.menu-item1 {
    list-style: none;
    flex: 1;
    background:palegreen;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}
.menu-item2 {
    list-style: none;
    flex: 1;
    background:  palevioletred;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}

.menu-item1:hover {
    flex: 8;
}
.menu-item2:hover {
    flex: 8;
}
.container {
    width: 50%;
    margin: 0 auto;
    display: block;
    border: 10px solid #d9d9d9;
}

