
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #a8a8a8 ;
}



.dd {
    position: relative;
    display: inline-block;
}

.dd-btn {
    padding: 0px;
    text-align: center;
    background:transparent #8AF00C;
    border: none;
    width: 200px;
    color: #191a1a;
}

.dd-btn img {
    width: 100px;
    height: 100px;
}

.dd-content {
    position: absolute;
    width: 100%;
    box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
    height: 0px;
    transition: height 1s;
    overflow: hidden;
}

.dd:hover > .dd-content {
    height: 150px;
}

.dd-content > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #191a1a;
}

footer {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #8AF00C;
}

.right section {
    display: inline-block;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.left section {
    display: flex;
}

footer {
    justify-content: center;
}

footer .right ul {
    display: flex;
    padding: 15px 10px;
    margin-left: 120px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.github-logo {
    margin-top: 4px;
}

.right a {
    text-decoration: none;
    color: var(--white);
}

.left {
    display: inline-block;
}

.profetional-photo img {
    position: relative;
    margin: 10px 10px;
}

.profetional-title {
    position: absolute;
    margin-top: -50px;
    margin-left: 65px;
}

.left img {
    width: 50px;
    height: 50px;
}



