/* MAQUETADO RESPONSIVE
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0B0B0B;

}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 60vh auto;
}

/*-----All Related to the HEADER-----*/

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1;
    align-items: center;
    align-content: start;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.resume {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: start;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

.telegram {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1;
}

.telegram img {
    width: 60px;
}

.home {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 15%;
}

.home img {
    width: 60px;
}

/*-----All Related to the MAIN-----*/

main {
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 25% 120px 20px 50px 30px 30%;;
    height: auto;
}

.brand {
    grid-row: 2/3;
    justify-content: start;
    padding-left: 20%;
}

.brand img {
    width: 40%;
}

.title {
    grid-row: 3/4;
    padding-left: 18%;
    height: 1rem;
    font-size: 1rem;
    color: #F69D17;
}

.presentation {
    grid-row: 4/5;
    width: 80%;
    padding-left: 18%;
    padding-top: 1%;
    font-size: 1.2rem;
    text-align: justify;
    color: azure;
}

.work {
    grid-row: 5/6;
    width: 20%;
    height: 100%;
    margin-top: 2%;
    font-size: 1rem;
    text-align: center;
    color: azure;
}

.work {
    border: 2px solid #d9d9da;
    border-bottom-width: 5%;
    border-radius: 20px;
    margin-left: 18%;
}


/*-----All Related to the FOOTER-----*/

footer {
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: 2;
    align-items: center;
    align-content: end;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.social {
    grid-column: 1/2;
    grid-row: 1/2;
}

.social img {
    width: 20px;
}

.name {
    color: azure;
}

.am {
    grid-column: 2/3;
    text-align: end;
    color: azure;
}

.am img {
    width: 20px;
}

/*MAIN section for RESUME page*/

.titleandname {
    color: azure;
}

.youtube img {
    width: 50px;
}

.objective {
    color: azure;
}

.skills {
    color: azure;
}

.achievements {
    color: azure;
}

.studies {
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

@media screen and (min-width: 400px) {
    .work {
        grid-row: 5/6;
        width: 20%;
        height: 100%;
        font-size: 1rem;
        text-align: center;
        color: azure;
    }
    
    .work {
        border: 2px solid #d9d9da;
        border-radius: 20px;
        margin-left: 18%;
        padding-top: 1%;
    }
    main {
        display: grid;
        grid-template-columns: 1;
        grid-auto-rows: 30% 140px 25px 55px 40px 30%;
    }
}