body {
    position:relative;
    width: auto;
    height: auto;
    background-image: url('../../asset/img/photo1601379968.jpeg');
}

.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 20px;
}