
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}



#logo_link img{
    margin-top: 10px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    /* padding-top: 20px; */
    /* border-top: 20px; */
}

header {
    width: 100%;
    height: 80px;
    z-index: 1;
    position: fixed;
    background-color: rgb(65, 64, 61);
    /* padding: 10px; */
}

.nav_header {
    color: azure;
    margin-right: 150px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
}

.a_header1 {
    margin-left: -50px;
}

#hero-img{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

nav, footer {
    /* text-align: center; */
}

main p {
    width: 80%;
    text-align: justify;
    /* margin: 50px auto; */
    margin: auto;
    text-align: justify;
    margin-bottom: 30px;
}


#hero {
    padding-top: 150px;
    width: 100%;
    min-width: 320px;
    height: 130vh;
    background-image: url('../srcs/pic/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    }

#hero-msg {
    font-size: 2rem;
    /* padding-top: 20px; */
}

#hero-msg h4{
    color: azure;
}

.home-title{
    color: azure;
}

.button-box {
    padding-top: 30px;
}

.button-box a{
    color: azure;
}

.book {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background: #767677;
    margin: 0 0 25px;
    padding: 15px;
    border: 2px solid #d9d9da;
    border-radius: 20px;
    width: 50px;
}

a {
    text-decoration: none;
    /* text-align: justify; */
    /* text-align: justify; */
    color: azure;
}

a:hover {
    color: rgb(255, 194, 25);
}

.home-grid {
    width: 100%;
    height: 80vh;
    background-color:antiquewhite;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.home-grid h2 {
    text-align: center;
    font-size: .75rem;
    padding-bottom: 20px;
}

.card-img {
    border-radius: 20px;
}

.icon {
    padding-top: 30px;
    width: 50px;
}

#join-card{
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-color: rgb(91, 139, 68) ;
    position: relative;
    display: inline-block;
    text-align: center;
}

.mountains{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.msg {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    color: #2b2929;
    font-weight: 400;
    text-align: center;
    background: #88898b;
    margin: 0 0 25px;
    padding: 20px;
    border: 2px solid #212122;
}

.msg h2 {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.msg p {
    font-size: 1rem;
}

.join {
    font-size: 1rem;
    text-align: center;
    background: #767677;
    margin-top: 0 0 200px;
    margin-top: 200px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #d9d9da;

    width: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: rgb(65, 64, 61);
    padding: 20px;
}

.contact {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.contact p {
    color: azure;
    padding-left: 80px;
}

.social {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social a {
    padding-right: 30px;
}

.social img {
    border-radius: 20px
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

