/*img {
    width: 80%;
}

p {
    width: 80%;
}

a {
    font-size: 1.5em;
}*/

* {
    border: 2px solid blue;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

nav, footer {
    text-align: center;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

a:hover {
    background-color: white;
    color: steelblue;
}