img {
    width: 300px;
    border-radius: 50px;
    border: 10px inset black;
}

.photo {
    display: flex;
    justify-content: center;
}

.h1 {
    display: flex;
    justify-content: center;
}

.about {
    border: 5px inset black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 100px 50px 100px;
    text-align: justify;
    display: flex;
    justify-content: center;
    background-color: rgb(194, 252, 107);
}

.h2 {
    display: flex;
    justify-content: center;
}